#art1 {
  font-size: 16px;
  font-weight: 600;
  color: #ff0000;
  border: 1px blue solid;
  width: 100px;
  text-align: center;
}
.red {
  color: #ff0000;
}
.sty {
  float: left;
  font-size: 16px;
  font-weight: 600;
  color: #46ff5f;
  border: 1px rgb(208, 255, 0) solid;
  width: fit-content;
  text-align: center;
}
.curser:hover {
  cursor: pointer;
  background-color: #cacaca;
}

.div1 {
  margin: 10px;
  font-size: medium;
  font-weight: 600;
  float: left;
  color: rgb(255, 0, 242);
  border: 5px solid rgb(1, 12, 9);
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
}

.span1 {
  padding: 10px;
  color: rgb(255, 0, 242);
  border: 1px solid #186;
  width: fit-content;
  border-radius: 5px;
}
.span2 {
  padding: 10px;
  color: rgb(0, 103, 151);
  border: 1px solid #186;
  width: fit-content;
  border-radius: 5px;
}
